<ion-view title="When should it start?">
	<ion-content>
		<div class="row">
			<div class="col">
				<a class="item" href="#/tab/q4/1">
            January
          </a>
			</div>
			<div class="col">
				<a class="item" href="#/tab/q4/2">
            February
          </a>
			</div>
			<div class="col">
				<a class="item" href="#/tab/q4/3">
            March
          </a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="item" href="#/tab/q4/4">
            April
          </a>
			</div>
			<div class="col">
				<a class="item" href="#/tab/q4/5">
            May
          </a>
			</div>
			<div class="col">
				<a class="item" href="#/tab/q4/6">
            June
          </a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="item" href="#/tab/q4/7">
            July
          </a>
			</div>
			<div class="col">
				<a class="item" href="#/tab/q4/8">
            August
          </a>
			</div>
			<div class="col">
				<a class="item" href="#/tab/q4/9">
            September
          </a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="item" href="#/tab/q4/10">
            October
          </a>
			</div>
			<div class="col">
				<a class="item" href="#/tab/q4/11">
            November
          </a>
			</div>
			<div class="col">
				<a class="item" href="#/tab/q4/12">
            December
          </a>
			</div>
		</div>
	</ion-content>
</ion-view>
