<ion-view title="When should it start?">
	<ion-content>
		<div class="row">
			<div class="col">
				<a class="item" href="#">
            January
          </a>
			</div>
			<div class="col">
				<a class="item" href="#">
            February
          </a>
			</div>
			<div class="col">
				<a class="item" href="#">
            March
          </a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="item" href="#">
            April
          </a>
			</div>
			<div class="col">
				<a class="item" href="#">
            May
          </a>
			</div>
			<div class="col">
				<a class="item" href="#">
            June
          </a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="item" href="#">
            July
          </a>
			</div>
			<div class="col">
				<a class="item" href="#">
            August
          </a>
			</div>
			<div class="col">
				<a class="item" href="#">
            September
          </a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="item" href="#">
            October
          </a>
			</div>
			<div class="col">
				<a class="item" href="#">
            November
          </a>
			</div>
			<div class="col">
				<a class="item" href="#">
            December
          </a>
			</div>
		</div>
	</ion-content>
</ion-view>
