/* Empty. Add your own CSS if you like */

.tabs .tab-item .icon.mcfly {
	background-repeat: no-repeat;
	background-position: 50%;
	height: 40%;
	background-image: url('../img/iconmonstr.png');
	background-size: contain;
}
.gallery {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
#imagebg {
	background: url('../img/boing747.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
#lhlist.list, #lhlist .item, {
	background-color: transparent;
	border-width: 0;
}

.lh-button {
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 150px;
	max-height: 150px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
div.lh-lable {
	min-height: 20px;
	max-height: 20px;
}
.background-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	background-image: url('../img/boing747.jpg');
	width: 1200px;
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.pane {
	background-color: transparent;
}
.noBackground {
  background: rgba(255, 255, 255,0.4) !important;          /* or transparent, or background:none */
}
