/* Empty. Add your own CSS if you like */

.tabs .tab-item .icon.mcfly {
	background-repeat: no-repeat;
	background-position: 50%;
	height: 40%;
	background-image: url('../img/iconmonstr.png');
	background-size: contain;
}

.flighticon {
	background-repeat: no-repeat;
	height: 20% !important;
	background-image: url('../img/iconmonstr.png');
}

.gallery {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 150px;
}
.lh-button {
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 150px;
	max-height: 150px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
div.lh-label {
	padding: 2;
	color: #fff;
	font-style: bold;
	text-align: center;
}
.lh-div {
	padding: 0;
}
